  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;




  We are three friends with a true passion for food. Because of our very different backgrounds and cultures, we have the chance to share unique insights and traditions from our countries. We love talking about food so much that we decided to create a place to allow other food addicts to do it with us.





  Share your passion with us and we will update you on the most popular and tasty recipes out there! 





  
.navbar .nav.pull-right {
     float: right;
      margin-right: 98px; /*set margin this way in your custom styesheet*/
  }



  	

			

			

